@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudContainer Class="d-flex justify-center align-center" Style="height:100vh;">
    <div class="mx-auto" style="width:100%;max-width:420px;">
        @Body
    </div>
</MudContainer>
