@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PoemApp.Admin</a>

        @if (HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated == true)
        {
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Dashboard">仪表板</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Poems">诗词管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Logs">日志查看</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            欢迎，@HttpContextAccessor.HttpContext.User.Identity.Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Account/Profile">个人资料</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    <button type="submit" class="dropdown-item btn btn-link">退出登录</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        }
    </div>
</nav>